:root{
  /* Layout spezifisch anpassen -> in eigener css-datei*/
  /* --wrapper:960px; */
  
  /* Margin */
  --mar-l:0px;
  --mar-r:0px;
  /* Padding */
  --pad-l:0px;
  --pad-r:0px;

  /* Werte initial auf 0 setzen */
  /* Für Einzelseiten Rahmenstärke*/
  --border-l-width:0px;
  --border-r-width:0px; 
  
  /* Rahemnart */
  --border-l-style:none;
  --border-r-style:none;
 
  /* Rahmenfarbe */
  --border-l-color:currentcolor;
  --border-r-color:currentcolor;

  /*Rechter / Linker Rahmen */
  --border-rl-width:0px;
  --border-style:none;
  --border-color:currentcolor;

  /* Zusammenfassung in Hilfsvariable - .br- Klassen erfolgt */
  /* --border-width: calc( (var(--border-r-width) + var(--border-l-width)) );*/
  /* falls kurzschreibweise nachfolgende Regel  */

  /* ########### Nicht ändern! ######## */
    --border-width:0px;
}

/* 
Boxmodell-regeln wurden aus der global.css mit integriert damit raster.css auch ohne global.css verwendet werden kann. 
*/
/* Boxmodell festlegen */
html{box-sizing:content-box;}
/* Hilfsklasse zum schnellen wechseln ggf. am html Element setzen */
.border-box{box-sizing:border-box;}
*,*:after,*:before{ box-sizing:inherit;}



/*###############################################*/
/* horizontales zentrieren von Blockelementen*/  
/* Bereiche zentrieren */
#wrapper,
.wrap{
  max-width:var(--wrapper,1200px);
  margin-left:auto;
  margin-right:auto;
}

/* Rasteraufbau ohne Abstände*/
/*****************************************
/* 1/2 , 2/4, 3/6 = 50% 
/* 1/4 = 25% 
/* 1/3, 2/6 = 33,3%
/* 100% = 6/6 
/**/

/* Beispieldefinitionsschemas */
/* Spaltenbreiten vordefinieren*/
/* .col-16,
/*.col-1_6{
/*  width:16.6666667%;
/* width:calc(1/6 * 100%);
/*  width:calc(100% / 6); */

/*}

.col-1_3,
.col-2_6,
.col-33{ 
  width:33.3333%;
}

/*###############################################*/
/* Spaltenbreiten vordefinieren*/

/* .col-16{width:16.6666667%;}
.col-33,.col-2-6{width:33.3333%;}
.col-50{width:50%;}
.col-66,.col-4-6{width:66.6666667%;}
.col-83{width:83.3333%;}
.col-100,.col-6-6,.col-row{width:100%;}
.col-25{width:25%;}
.col-75{width:75%;} */

.col-16{--col:16.6666667%;}
.col-33,.col-2-6{--col:33.3333%;}
.col-50{--col:50%;}
.col-66,.col-4-6{--col:66.6666667%;}
.col-83{--col:83.3333%;}
.col-100,.col-6-6,.col-row{--col:100%;}
.col-25{--col:25%;}
.col-75{--col:75%;}

[class*="col-"]{
  width:var(--col);
  /* Boxmodell Eigenschaften generell zuweisen damit Breitenberechnung an Kinderelementen stimmig ist - nötig in gekürzter Variante. 
  Initial sind die Variablen mit 0 gesetzt. */
  /* padding-left:var(--pad-l);
  padding-right:var(--pad-r);
  margin-left:var(--mar-l);
  margin-right:var(--mar-r); */
  /* Border-style generell auf none gesetzt damit Kinder einer klasse nicht plötzlich einen Rahmen erhalten - überschreibung vermeiden*/
  /* 
  border: var(--border-width) var(--border-style) var(--border-color) ; 
  */
  /* border: var(--border-width) none var(--border-color) ; */

}

/*ggf. hilfsklassen für border setzen -  Beispiele*/
/* Linkler Rahmen */
.br-l{
  /* zum Testen auskommentieren*/
  /* --border-l-width:7px;
   --border-l-style:solid;
  --border-l-color:gray;   */
  --border-width:var(--border-l-width);
  /* border-left:var(--border-l-width) var(--border-l-style) var(--border-l-color); */
  border-left:var(--border-width) var(--border-l-style) var(--border-l-color);
}

/* Rechter Rahmen */
.br-r{
  /* zum Testen auskommentieren*/
   /* --border-r-width:7px;
  --border-r-style:solid;
  --border-r-color:gray;  */
  --border-width:var(--border-r-width);
  /* border-right:var(--border-r-width) var(--border-r-style) var(--border-r-color); */
  border-right:var(--border-width) var(--border-r-style) var(--border-r-color);
}

/* Berechnung wen Rahmen rechts und Links unterschiedlich */
.br-l.br-r{
  --border-width:calc(var(--border-r-width) + var(--border-l-width));
}

/* Rahmen rechts/links gleich */
.br-rl
{
  /* zum Testen auskommentieren*/
  /* --border-color:red;
  --border-style:double;
  --border-rl-width:5px; 
  */
  --border-width:calc(var(--border-rl-width) * 2);
  border-right:var(--border-width) var(--border-style) var(--border-color);
  border-left:var(--border-width) var(--border-style) var(--border-color);
}

 /* Abstandsklassen mit Variablen */
 .mar-l{margin-left:var(--mar-l); }
 .mar-r{margin-right:var(--mar-r);}
 .pad-l{padding-left:var(--pad-l)}
 .pad-r{ padding-right:var(--pad-r)}

/* ggf. weitere Abstandsklassen für Standardabstände definieren
 .pad-1{
  --pad-l:0.5em;
  --pad-r:0.5em; 
 }

 .pad-2{
  --pad-l:1em;
  --pad-r:1em; 
 }
 
/* Nachfolgende Klassen sind nur bei extrem gekürzter schreibweise notwendig */
/*horizontales  Margins an Kinderelementen mit class="col-" zurücksetzen*/
.mar-reset,
.mar-0{
  --mar-l:0px;
  --mar-r:0px;
}

/* horizontales padding an Kinderelementen mit class="col-" zurücksetzen*/
.pad-reset,
.pad-0{
  --pad-l:0px;
  --pad-r:0px; 

}
/* alle horizontalen Abstände an Kinderelementen mit class="col-" zurücksetzen*/
.gap-reset,
.gap-0{
  --mar-l:0px;
  --mar-r:0px;
  --pad-l:0px;
  --pad-r:0px; 
}




/* Regel selbstsprechender Schreibweise  für nur eine Spalte:*/
/*
  .col-33.pad-r{width:calc(33.3333% - var(--pad-r))}
  .col-33.mar-r{width: calc(33.3333% - var(--mar-r));}
  .col-33.pad-l{width:calc(33.3333% - var(--pad-l));}
  .col-33.mar-l{width: calc(33.3333% - var(--mar-l));}

  .col-33.mar-r.mar-l{width:calc(33.3333% - var(--mar-l) - var(--mar-r));}
  .col-33.pad-l.pad-r{width:calc(33.3333% - var(--pad-r) - var(--pad-l));} 

  .col-33.mar-r.pad-r{width: calc(33.3333% - var(--mar-r) - var(--pad-r) );}
  .col-33.mar-l.pad-l{width: calc(33.3333% - var(--mar-l) - var(--pad-l) );}
  .col-33.mar-l.pad-r{width: calc(33.3333% - var(--mar-l) - var(--pad-r) );}
  .col-33.mar-r.pad-l{width: calc(33.3333% - var(--mar-r) - var(--pad-l) );}

  .col-33.mar-r.pad-l.pad-r{width: calc(33.3333% - var(--mar-r) - var(--pad-r) - var(--pad-l));}
  .col-33.mar-l.pad-l.pad-r{width: calc(33.3333% - var(--mar-l) - var(--pad-l) - var(--pad-r));}
  .col-33.mar-l.mar-r.pad-r{width: calc(33.3333% - var(--mar-l) - var(--mar-r) - var(--pad-r) );}
  .col-33.mar-l.mar-r.pad-l{width: calc(33.3333% - var(--mar-l) - var(--mar-r) - var(--pad-l) );}
  
  .col-33.pad-l.pad-r.mar-l.mar-r {width: calc(33.3333% - var(--mar-l) - var(--mar-r)  - var(--pad-l) - var(--pad-r));} 
*/

/* Beispiel lange Schreibweise mit der Möglichkeit das Boxmodell zu wechseln - Klasse Border-box am HTML-Element setzen:
<html lang="de" class="border-box">
*/

html:not(.border-box) [class*="col-"][class*="br-"]{width: calc( var(--col) - var(--border-width) );}
html:not(.border-box) [class*="col-"].pad-r{width:calc(var(--col) - var(--pad-r))}
html:not(.border-box) [class*="col-"].pad-l{width:calc(var(--col) - var(--pad-l));}
html:not(.border-box) [class*="col-"][class*="br-"].pad-r{width:calc(var(--col) - var(--pad-r) - var(--border-width))}
html:not(.border-box) [class*="col-"][class*="br-"].pad-l{width:calc(var(--col) - var(--pad-l) - var(--border-width));}
[class*="col-"].mar-r{width: calc(var(--col) - var(--mar-r));}
[class*="col-"].mar-l{width: calc(var(--col) - var(--mar-l));}

[class*="col-"].mar-r.mar-l{width:calc(var(--col) - var(--mar-l) - var(--mar-r));}

html:not(.border-box) [class*="col-"].pad-l.pad-r{width:calc(var(--col) - var(--pad-r) - var(--pad-l));} 

html:not(.border-box) [class*="col-"].mar-r.pad-r{width: calc(var(--col) - var(--mar-r) - var(--pad-r) );}
html:not(.border-box) [class*="col-"].mar-l.pad-l{width: calc(var(--col) - var(--mar-l) - var(--pad-l) );}
html:not(.border-box) [class*="col-"].mar-l.pad-r{width: calc(var(--col) - var(--mar-l) - var(--pad-r) );}
html:not(.border-box) [class*="col-"].mar-r.pad-l{width: calc(var(--col) - var(--mar-r) - var(--pad-l) );}

html:not(.border-box) [class*="col-"][class*="br-"].pad-l.pad-r{width:calc(var(--col) - var(--pad-r) - var(--pad-l) - var(--border-width));} 

html:not(.border-box) [class*="col-"][class*="br-"].mar-r.pad-r{width: calc(var(--col) - var(--mar-r) - var(--pad-r) - var(--border-width));}
html:not(.border-box) [class*="col-"][class*="br-"].mar-l.pad-l{width: calc(var(--col) - var(--mar-l) - var(--pad-l) - var(--border-width));}
html:not(.border-box) [class*="col-"][class*="br-"].mar-l.pad-r{width: calc(var(--col) - var(--mar-l) - var(--pad-r) - var(--border-width));}
html:not(.border-box) [class*="col-"][class*="br-"].mar-r.pad-l{width: calc(var(--col) - var(--mar-r) - var(--pad-l) - var(--border-width));}


html:not(.border-box) [class*="col-"].mar-r.pad-l.pad-r{width: calc(var(--col) - var(--mar-r) - var(--pad-r) - var(--pad-l));}
html:not(.border-box) [class*="col-"].mar-l.pad-l.pad-r{width: calc(var(--col) - var(--mar-l) - var(--pad-l) - var(--pad-r));}
html:not(.border-box) [class*="col-"].mar-l.mar-r.pad-r{width: calc(var(--col) - var(--mar-l) - var(--mar-r) - var(--pad-r) );}
html:not(.border-box) [class*="col-"].mar-l.mar-r.pad-l{width: calc(var(--col) - var(--mar-l) - var(--mar-r) - var(--pad-l) );}

html:not(.border-box) [class*="col-"].pad-l.pad-r.mar-l.mar-r {width: calc(var(--col) - var(--mar-l) - var(--mar-r)  - var(--pad-l) - var(--pad-r));} 

html:not(.border-box) [class*="col-"][class*="br-"].mar-r.pad-l.pad-r{width: calc(var(--col) - var(--mar-r) - var(--pad-r) - var(--pad-l) - var(--pad-l));}
html:not(.border-box) [class*="col-"][class*="br-"].mar-l.pad-l.pad-r{width: calc(var(--col) - var(--mar-l) - var(--pad-l) - var(--pad-r) - var(--pad-l));}
html:not(.border-box) [class*="col-"][class*="br-"].mar-l.mar-r.pad-r{width: calc(var(--col) - var(--mar-l) - var(--mar-r) - var(--pad-r) - var(--pad-l) );}
html:not(.border-box) [class*="col-"][class*="br-"].mar-l.mar-r.pad-l{width: calc(var(--col) - var(--mar-l) - var(--mar-r) - var(--pad-l) - var(--pad-l) );}

html:not(.border-box) [class*="col-"][class*="br-"].pad-l.pad-r.mar-l.mar-r {width: calc(var(--col) - var(--mar-l) - var(--mar-r)  - var(--pad-l) - var(--pad-r) - var(--pad-l));} 


/* Schreibweise kann noch weiter gekürzt werden sofern die Abstandsvariablen in root immer!! auf 0 gesetzt bleiben! Wenn kinderelemente einer Spalte selbst Spalten sind müssen ggf. reset-Klassen gesetzt werden siehe oben -> pad-reset, .mar-reset, .gap-reset */
/* Berechnung für alternatives Boxmodell */
  /* [class*="col-"]{width: calc(var(--col) - var(--mar-l) - var(--mar-r));} */

  /* Regel klassisches Boxmodell gekürzt */
   /* :not(.border-box) [class*="col-"]{width: calc(var(--col) - var(--mar-l) - var(--mar-r)  - var(--pad-l) - var(--pad-r) - var(--border-width));} */


/* Abstand reservieren für Spaltendarstellung  */
/*Beispiel  Feste Werte um ohne Spaltenklasse Einrückung zuzuweisen */
/* .col-16, .col-83,.col-25,.col-75 */
.push-l-16{
  margin-left:16.6666667%
}
.push-r-66{
  margin-right:66.6666667%;
}





/*###################################################*/
/* Floats*/
/*###################################################*/
.float-l,
.fl-l{float:left;}

.float-r,
.fl-r{float:right;}

/* darunter stellen für nachfolgendes Element */
.clear{clear:both;}
.clearfix:after{
content:"";
display:table;
clear:both;
}


/*###################################################*/
/* Flexbox */
/*###################################################*/
.flex,.flex-w{display:flex;}
   
/* Umbruch bei Flexbox erlauben */
.flex-w, .flex-wrap{
  flex-wrap:wrap;
}

/* Spaltenweise */
.flex-row{
  flex-direction:row;
}
/* Zeilenweise */
.flex-column{
  flex-direction:column;
}

/* Flex-item kann größer werden (Kinderelement der Flexbox) */
.grow,
.flex-grow{flex-grow:1;}

/*Alternativ generell grow erlauben für Spalten.
Nachfolgende Variante  besser Layoutspezifisch setzen 
*/
/*.flex-w >[class*="col-"] {flex-grow:1;}*/


/* um Proportionen ohne Spaltenbreiten anpassen zu können*/
/* .grow-2{
  flex-grow:2;
} */

/* ggf. weitere Hilfsklassen für häufig benötigte Eigenschaftswerte bei justify-content und align-items setzen*/

/* Responsives verhalten */
[class*="col-"]{min-width:160px;}

/* ggf. unterschiedliche Mindestbreiten definieren bzw. Layout- und Inhaltsspezifisch setzen */
/* 
  .col-25{min-width:200px;} 
  .col-33{min-width:240px;} 
  .col-50{min-width:320px;} 
*/

/* Hilfklassen setzen um Spalten in kleineren Wrappern oder innerhalb von Spalten nutzen zu können*/
/* Beispiele Hilfsklassen diese könnten ggf. geänderte Mindestbreiten enthalten */
/*Viewport oder Inhaltsbereich größer 1400px */
.extra-large,.xl{}
/*Viewport oder Inhaltsbereich größer 1100px */
.large,.lg{}
/*Viewport oder Inhaltsbereich größer 850px */
 .medium,.md{}
 /*Viewport oder Inhaltsbereich größer 600px */
 .small,.sm{
 }
/*Viewport oder Inhaltsbereich kleiner 599px */
 .xs{}

 /* Beispiel Hilfsklasse mit Spaltenklasse kombiniert um Breite zu ändern bei kleinen Inhaltsbreiten(Spalte in Spalte verschachtelt) oder kleinen Viewports */
 /* .col-16.md{
  --col:33.3333%;
 } */




/* 160 * 6 */

/* 6 x 160px mindestbreite -- mindestens 960px breite nötig damit diese nebeneinander stehen können (max-width:960px)*/
/* max-width:60em */
/* Wert wurde größer gewählt um kleine Abstande abfangen zu können */ 
@media screen and (max-width:63em){
  .col-16{
    --col:33.3333%;
  }
  /* Beispiel 25% spalten */
  /*
  .col-25{
    --col:50%;
  } 
  */

}

/*max-width:720px*/
@media screen and (max-width:45em){
  .col-33{
    --col:50%;
  }
  .col-33:nth-child(3){
    --col:100%;
  }
}

/* Schmalste Darstellung */
/* max-width:480px */
@media screen and (max-width:30em){
 
  [class*="col-"]{
    --col:100%;
  }
  .col-16{
    --col:50%;
  }
  /* Alternative */
  /* Vorsicht überschreibt alle Spaltenbreiten! */ 

  /* [class*="col-"]{width:auto} */

  /* float und Flex entfernen / überschreiben um zusammen fallen bei width:auto zu verhindern */
  
  /*
  [class*="col-"][class*="float-"],
  [class*="col-"][class*="fl-"]{float:none;} 
  */

  /* Float besser nur layoutspezifisch entfernen */
  /* .flex{display:block} */

  .flex{
    /* flex-wrap:wrap; */
    flex-direction:column;
  }

}